{{#paper-item}}
  {{#paper-tile-left}}
    <img {{bind-attr src=book.gravatar alt=book.title}} class='face'>
  {{/paper-tile-left}}
  {{#paper-tile-content}}
    <h3>{{book.title}}</h3>
    <h4>{{book.author}}</h4>
    <p>
      {{book.excerpt}}
    </p>
  {{/paper-tile-content}}

  {{#link-to 'books.edit' book.id}}
    {{#paper-button noink=true classNames='md-primary'}}Edit{{/paper-button}}
  {{/link-to}}

  {{!-- Don't judge me, I hate having to do something like that but it's not
  worth spending too much time on it :( --}}
  <div style='margin-right: 10px;'>
    {{#if shouldDisplayDeleteConfirmation}}
      {{#paper-button noink=true classNames='md-warn'}}
        <span {{action 'deleteBook' book}}>Are you sure?</span>
      {{/paper-button}}
    {{else}}
      {{#paper-button noink=true classNames='md-warn' action='displayDeleteConfirmation'}}
        Delete
      {{/paper-button}}
    {{/if}}
  </div>
{{/paper-item}}
