{{#top-toolbar}}
  Books > Add a new book
{{/top-toolbar}}

{{#paper-content classNames='md-padding'}}
  <div class='doc-content'>
    {{#parsley-form submitAction='create'}}
      <h2>Add a new book</h2>

      {{book-form-type book=model}}

      {{#each category in categories}}
        {{#paper-checkbox checked=category.checked}}{{category.title}}{{/paper-checkbox}}
      {{/each}}

      {{#if createCategory}}
        {{paper-text label='Create category' value=categoryTitle class='input-create-category'}}
        <a {{action 'createCategory'}}>
          {{#paper-button noink=true classNames='md-primary'}}Create category{{/paper-button}}
        </a>
      {{else}}
        <a {{action 'showCreateCategory'}}>
          {{#paper-button noink=true classNames='md-primary'}}Create a category{{/paper-button}}
        </a>
      {{/if}}

      <p>
        {{#paper-button raised=true classNames='md-primary'}}Add{{/paper-button}}
      </p>
    {{/parsley-form}}
  </div>
{{/paper-content}}

{{outlet}}
